body {
	margin: 0;
	align-items: center;
	width: 100%;
	height: 100%;
	color: rgba(0, 0, 0, 0.8);
	/* text-shadow: 2px 1px 8px #000; */
}

a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

#background-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.Selected {
	color: #F78B26;
}

header {
	align-items: center;
	width: 100%;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.05);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 3px;
}

header img {
	margin-left: 40px;
	height: 100%;
}

nav {
	width: 100%;
	align-items: center;
	justify-content: flex-end;
}

header nav a {
	color: #121212;
	margin-right: 40px;
	text-decoration: none;
	font-size: 20px;
}

header nav a:hover {
	color: #F78B26;
}

.overall {
	width: 85%;
	height: 30vw;
}

.text-description {
	width: 35%;
	background-color: white;
	align-items: flex-start;
}

.text-description .title {
	border-left: 3px solid #121212;
	height: 40px;
	width: 80%;
	justify-content: center;
	align-items: center;
	margin-top: 20%;
	margin-left: 10%;
}

.text-description p {
	width: 80%;
	margin-top: 30px;
	font-size: 14px;
	font-style: italic;
	color: #343434;
	margin-left: 10%;
}

.text-description a {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	color: #121212;
	border: 1px solid #343434;
	padding: 11px 14px;
	margin-left: 10%;
	margin-top: 10px;

}

.text-description a:hover {
	color: #f78b26;
	border: 1px solid #f78b26;
}

.image-description {
	width: 35%;
	background-color: #FFFFFF;
}

.image-description img {
	width: 100%;
	height: 100%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.image-description img:hover {
	box-shadow: 2px 2px 3px #aaaaaa;
	margin-top: -2px;
}

.overall nav {
	width: 23%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	margin-left: 7%;
	justify-content: space-between;
	align-items: center;
}

.overall nav ul {
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	list-style-type: none;
	width: 100%;
	height: 55%;
	justify-content: space-between;
}

.overall nav ul a {
	list-style-type: none;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(255, 255, 255);
	text-decoration: none;
}

.overall nav ul a li span {
	font-weight: 600;
	color: #121212;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.overall nav ul a li span:hover {
	color: #f78b26;
}

.overall nav a {
	height: 32%;
	width: 100%;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.overall nav a img {
	height: 100%;
}

.cover-mus-img {
	margin: 0 0 15px 0;
}

.cover-mus-img img {
	height: 100px;
}